In [1]:
import pandas as pd
import numpy as np
from sklearn.ensemble import IsolationForest

In [2]:
dfmn = pd.read_csv('E:/KrishM/PythonPrjs/PyDatasets/moneylaunder/paysimex/PS_2017log.csv')

In [3]:
#dfmn

In [4]:
#dfmn = dfmn.sample(frac=0.1)

In [5]:
dfmn

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.00,160296.36,M1979787155,0.00,0.00,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.00,19384.72,M2044282225,0.00,0.00,0,0
2,1,TRANSFER,181.00,C1305486145,181.00,0.00,C553264065,0.00,0.00,1,0
3,1,CASH_OUT,181.00,C840083671,181.00,0.00,C38997010,21182.00,0.00,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.00,29885.86,M1230701703,0.00,0.00,0,0
...,...,...,...,...,...,...,...,...,...,...,...
6362615,743,CASH_OUT,339682.13,C786484425,339682.13,0.00,C776919290,0.00,339682.13,1,0
6362616,743,TRANSFER,6311409.28,C1529008245,6311409.28,0.00,C1881841831,0.00,0.00,1,0
6362617,743,CASH_OUT,6311409.28,C1162922333,6311409.28,0.00,C1365125890,68488.84,6379898.11,1,0
6362618,743,TRANSFER,850002.52,C1685995037,850002.52,0.00,C2080388513,0.00,0.00,1,0
6362619,743,CASH_OUT,850002.52,C1280323807,850002.52,0.00,C873221189,6510099.11,7360101.63,1,0

In [14]:
len(dfmn['nameOrig'].unique())

636166

In [6]:
print('No. of fraudulent transactions :', dfmn[dfmn['isFraud'] == 1].shape[0])

No. of fraudulent transactions : 8213

In [7]:
print('No. of non-fraudulent transactions :', dfmn[dfmn['isFraud'] == 0].shape[0])

No. of non-fraudulent transactions : 6354407

In [9]:
6354407 + 8213

6362620

In [10]:
8213/6362620

0.001290820448180152

In [14]:
dfmn[dfmn['isFraud'] == 1]['type'].value_counts()

CASH_OUT    4116
TRANSFER    4097
Name: type, dtype: int64

In [23]:
print('The type of fraudulent transactions :', dfmn[dfmn['isFraud'] == 1]['type'].unique())

The type of fraudulent transactions : ['TRANSFER' 'CASH_OUT']

In [ ]:
#How many unique origins in fraud transactions which are transfer type:

In [41]:
len(dfmn[(dfmn['isFraud'] == 1) & (dfmn['type'] == 'TRANSFER')]['nameOrig'].unique())

4097

In [ ]:
#How many unique destinations are there in fraud transfer transactions

In [43]:
len(dfmn[(dfmn['isFraud'] == 1) & (dfmn['type'] == 'TRANSFER')]['nameDest'].unique())

4097

In [ ]:
#How many unique origins are there in fraud cash out transactions

In [44]:
dfmn[(dfmn['isFraud'] == 1) & (dfmn['type'] == 'CASH_OUT')]['nameOrig'].unique()

array(['C840083671', 'C2101527076', 'C1118430673', ..., 'C786484425',
       'C1162922333', 'C1280323807'], dtype=object)

In [47]:
len(dfmn[(dfmn['isFraud'] == 1) & (dfmn['type'] == 'CASH_OUT')]['nameOrig'].unique())

4116

In [ ]:
#How many unique destinations are there in fraud cash out transactions

In [49]:
dfmn[(dfmn['isFraud'] == 1) & (dfmn['type'] == 'CASH_OUT')]['nameDest'].unique()

array(['C38997010', 'C1007251739', 'C339924917', ..., 'C776919290',
       'C1365125890', 'C873221189'], dtype=object)

In [50]:
len(dfmn[(dfmn['isFraud'] == 1) & (dfmn['type'] == 'CASH_OUT')]['nameDest'].unique())

4091

In [ ]:
#How many fraud transfer transactions have destinations which are origins in fraud cash out transactions

In [69]:
dfmn[(dfmn['isFraud'] == 1) & (dfmn['type'] == 'TRANSFER')]['nameDest']

2           C553264065
251         C972765878
680        C1848415041
969         C431687661
1115       C1136419747
              ...
6362610    C1812552860
6362612    C1470998563
6362614    C1850423904
6362616    C1881841831
6362618    C2080388513
Name: nameDest, Length: 4097, dtype: object

In [70]:
dfmn[(dfmn['isFraud'] == 1) & (dfmn['type'] == 'CASH_OUT')]['nameOrig']

3           C840083671
252        C2101527076
681        C1118430673
724         C749981943
970         C467632528
              ...
6362611     C994950684
6362613    C1436118706
6362615     C786484425
6362617    C1162922333
6362619    C1280323807
Name: nameOrig, Length: 4116, dtype: object

In [78]:
dfmn[(dfmn['isFraud'] == 1) & (dfmn['type'] == 'TRANSFER')]['nameDest'].equals(dfmn[(dfmn['isFraud'] == 1) & (dfmn['type'] == 'CASH_OUT')]['nameOrig'])

False

In [79]:
dfmn[(dfmn['isFraud'] == 1) & (dfmn['type'] == 'TRANSFER')]['nameDest']

2           C553264065
251         C972765878
680        C1848415041
969         C431687661
1115       C1136419747
              ...
6362610    C1812552860
6362612    C1470998563
6362614    C1850423904
6362616    C1881841831
6362618    C2080388513
Name: nameDest, Length: 4097, dtype: object

In [80]:
dfmn[(dfmn['isFraud'] == 0) & (dfmn['type'] == 'CASH_OUT')]['nameOrig']

15          C905080434
42          C768216420
47         C1570470538
48          C512549200
51         C2072313080
              ...
6362306    C1569237054
6362313    C1438119383
6362317     C857156502
6362320     C691808084
6362321     C102120699
Name: nameOrig, Length: 2233384, dtype: object

In [81]:
dfmn[(dfmn['isFraud'] == 1) & (dfmn['type'] == 'TRANSFER')]['nameDest'].equals(dfmn[(dfmn['isFraud'] == 0) & (dfmn['type'] == 'CASH_OUT')]['nameOrig'])

False

In [83]:
dfmn[(dfmn['isFraud'] == 0) & (dfmn['type'] == 'TRANSFER')]['nameDest']

19         C1100439041
24          C932583850
58         C1937962514
78         C1330106945
79         C1761291320
              ...
6362211     C930436926
6362223     C720176528
6362229    C1924752944
6362256    C2093369248
6362322     C855350324
Name: nameDest, Length: 528812, dtype: object

In [84]:
dfmn[(dfmn['isFraud'] == 1) & (dfmn['type'] == 'CASH_OUT')]['nameOrig']

3           C840083671
252        C2101527076
681        C1118430673
724         C749981943
970         C467632528
              ...
6362611     C994950684
6362613    C1436118706
6362615     C786484425
6362617    C1162922333
6362619    C1280323807
Name: nameOrig, Length: 4116, dtype: object

In [85]:
dfmn[(dfmn['isFraud'] == 0) & (dfmn['type'] == 'TRANSFER')]['nameDest'].equals(dfmn[(dfmn['isFraud'] == 1) & (dfmn['type'] == 'CASH_OUT')]['nameOrig'])

False

In [ ]:
#How many genuine transfer transactions have destinations which are destinations in fraud transfer transactions

In [95]:
dfnamedest1 = dfmn[(dfmn['isFraud'] == 0) & (dfmn['type'] == 'TRANSFER')]['nameDest']

In [96]:
dfnamedest1

19         C1100439041
24          C932583850
58         C1937962514
78         C1330106945
79         C1761291320
              ...
6362211     C930436926
6362223     C720176528
6362229    C1924752944
6362256    C2093369248
6362322     C855350324
Name: nameDest, Length: 528812, dtype: object

In [97]:
dfnamedest2 = dfmn[(dfmn['isFraud'] == 1) & (dfmn['type'] == 'TRANSFER')]['nameDest']

In [98]:
dfnamedest2

2           C553264065
251         C972765878
680        C1848415041
969         C431687661
1115       C1136419747
              ...
6362610    C1812552860
6362612    C1470998563
6362614    C1850423904
6362616    C1881841831
6362618    C2080388513
Name: nameDest, Length: 4097, dtype: object

In [88]:
#dfmn[(dfmn['isFraud'] == 0) & (dfmn['type'] == 'TRANSFER')]['nameDest'].equals(dfmn[(dfmn['isFraud'] == 1) & (dfmn['type'] == 'TRANSFER')]['nameDest'])

False

In [101]:
count = 0
for name1 in dfnamedest1:
    for name2 in dfnamedest2:
        if name1 == name2:
            count += 1
count

1701